@{
    ViewData["Title"] = "Create a Tamagotchi";
}
<form action="/pets" method="post">
    <div class="form-group">
        <label for="pet-name">Enter a name for your Tamagotchi</label>
        <input type="text" name="pet-name" id="pet-name" required>
        <button type="submit" class="btn btn-primary">Make Pet</button>
    </div>
</form>