@{
    ViewData["Title"] = "Create a Tamagotchi";
}
<form action="/pets" method="post" class="makePet">
    <div class="form-group theForm">
        <label for="pet-name">Enter a name for your Tamagotchi</label>
        <input type="text" class="form-control theInput" name="pet-name" id="pet-name" required>
        <button type="submit" class="btn btn-primary">Make Pet</button>
    </div>
</form>