@{
    ViewData["Title"] = "Home Page";
}
<h1 class="homeWelcome">Welcome</h1>

<a href="/pets"><button class="btn homeButtons">Click here to go to your pets</button></a>
<a href="/form"><button class="btn homeButtons">Click here to make a new pet</button></a>
