@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome</h1>

<a href="/pets"><button>Click here to go to your pets</button></a>
<a href="/form"><button>Click here to make a new pet</button></a>
